*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    height: 50px;
    background-color: black;
    opacity: 0.8;
justify-content: flex-end;
}
nav{
  padding: 10px 0 40px 0;
  border-bottom: 1px solid #A1A1A1;
  width: 1440px;
}
ul.menu{
  display: flex;
  }
  .menu-item{
    list-style: none;
    margin-left: 40px;
    font-size: 16,5px;
    color: orange;
  }
  .logo>img{
    height: 50px;
    width: 50px;
 
  }
 